In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("Data_Sheet_2.xlsx", sheet_name= "Sheet1", header = 1)

df

      TEP ID     Locus  Position Strand Associated gene Category
0    TEP-001  CP054306     13675      -     HTZ78_00090        I
1    TEP-002  CP054306     22917      +     HTZ78_00130        P
2    TEP-003  CP054306     24191      -       tRNA1-Ser        P
3    TEP-004  CP054306     26364      +     HTZ78_00150        P
4    TEP-005  CP054306     31282      -     HTZ78_00190        P
..       ...       ...       ...    ...             ...      ...
482  TEP-483  CP054308     39589      +     HTZ78_17915        U
483  TEP-484  CP054308     41523      -     HTZ78_17930        P
484  TEP-485  CP054309       657      +     HTZ78_17940        P
485  TEP-486  CP054309      1239      +     HTZ78_17945        P
486  TEP-487  CP054309      1522      -               -        N

[487 rows x 6 columns]

In [3]:
df.drop(["TEP ID",], axis = 1, inplace = True)

In [4]:
df = df[(df["Category"] == "P") | (df["Category"] == "S")]
df.drop(["Category"], axis = 1, inplace = True)
df

/tmp/ipykernel_62604/1366242508.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(["Category"], axis = 1, inplace = True)

        Locus  Position Strand Associated gene
1    CP054306     22917      +     HTZ78_00130
2    CP054306     24191      -       tRNA1-Ser
3    CP054306     26364      +     HTZ78_00150
4    CP054306     31282      -     HTZ78_00190
5    CP054306     36153      +       tRNA2-Thr
..        ...       ...    ...             ...
479  CP054307     40199      -     HTZ78_17520
481  CP054308      8813      +     HTZ78_17755
483  CP054308     41523      -     HTZ78_17930
484  CP054309       657      +     HTZ78_17940
485  CP054309      1239      +     HTZ78_17945

[352 rows x 4 columns]

In [5]:
df.reset_index(drop = True, inplace = True)

df

        Locus  Position Strand Associated gene
0    CP054306     22917      +     HTZ78_00130
1    CP054306     24191      -       tRNA1-Ser
2    CP054306     26364      +     HTZ78_00150
3    CP054306     31282      -     HTZ78_00190
4    CP054306     36153      +       tRNA2-Thr
..        ...       ...    ...             ...
347  CP054307     40199      -     HTZ78_17520
348  CP054308      8813      +     HTZ78_17755
349  CP054308     41523      -     HTZ78_17930
350  CP054309       657      +     HTZ78_17940
351  CP054309      1239      +     HTZ78_17945

[352 rows x 4 columns]

In [6]:
df['start'] = df['Position'] - 1
df['end'] = df['Position']

df.drop(["Position"], axis = 1, inplace = True)

df["score"] = 0

df

/tmp/ipykernel_62604/1850454781.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['start'] = df['Position'] - 1
/tmp/ipykernel_62604/1850454781.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['end'] = df['Position']
/tmp/ipykernel_62604/1850454781.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(["Position"], axis = 1, inplace = True)
/tmp/ipykernel_62604/1850454781.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["score"] = 0

        Locus Strand Associated gene  start    end  score
0    CP054306      +     HTZ78_00130  22916  22917      0
1    CP054306      -       tRNA1-Ser  24190  24191      0
2    CP054306      +     HTZ78_00150  26363  26364      0
3    CP054306      -     HTZ78_00190  31281  31282      0
4    CP054306      +       tRNA2-Thr  36152  36153      0
..        ...    ...             ...    ...    ...    ...
347  CP054307      -     HTZ78_17520  40198  40199      0
348  CP054308      +     HTZ78_17755   8812   8813      0
349  CP054308      -     HTZ78_17930  41522  41523      0
350  CP054309      +     HTZ78_17940    656    657      0
351  CP054309      +     HTZ78_17945   1238   1239      0

[352 rows x 6 columns]

In [9]:
df["Locus"] = df["Locus"]+[".1"]
df

/tmp/ipykernel_62604/1314799274.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Locus"] = df["Locus"]+[".1"]

          Locus Strand Associated gene  start    end  score
0    CP054306.1      +     HTZ78_00130  22916  22917      0
1    CP054306.1      -       tRNA1-Ser  24190  24191      0
2    CP054306.1      +     HTZ78_00150  26363  26364      0
3    CP054306.1      -     HTZ78_00190  31281  31282      0
4    CP054306.1      +       tRNA2-Thr  36152  36153      0
..          ...    ...             ...    ...    ...    ...
347  CP054307.1      -     HTZ78_17520  40198  40199      0
348  CP054308.1      +     HTZ78_17755   8812   8813      0
349  CP054308.1      -     HTZ78_17930  41522  41523      0
350  CP054309.1      +     HTZ78_17940    656    657      0
351  CP054309.1      +     HTZ78_17945   1238   1239      0

[352 rows x 6 columns]

In [11]:
df = df [["Locus", "start", "end", "Associated gene", "score", "Strand"]]

In [12]:
# split into different files based on locus
loci = df["Locus"].unique()
for locus in loci:
    df[df["Locus"] == locus].to_csv("Synechocystis_PCC6803_"+locus+".bed", sep = "\t", header = False, index = False)

In [9]:
# convert df to bed file format
# {FullNameOfTheBacteria}_{strainCode}_{GenomeAccessionNumber}.bed    
# df.to_csv('Synechocystis_PCC6803_NC000911.1.bed', sep='\t', index=False, header=False)