In [1]:
import pandas as pd

In [4]:
df = pd.read_excel('12864_2022_8314_MOESM4_ESM.xlsx', sheet_name='Supplementary Dataset S3', skiprows=1 )
df

      TEP position Strand  Signal intensity Associated gene TEP category
0            45330      +          1.422417       SAVERM_36            A
1            62896      +          0.673927            None            N
2            67730      +         40.674364            None            N
3            98683      +        169.232725            None            N
4           121733      +          3.743878            None            N
...            ...    ...               ...             ...          ...
2012       3511979      -         -1.382826     SAVERM_2866            C
2013       5434044      -         -3.246243     SAVERM_4447            C
2014       8461637      -        -11.341172     SAVERM_7099            C
2015       6286907      -         -0.542727     SAVERM_5179            C
2016       3475157      -         -2.083916     SAVERM_2829            C

[2017 rows x 5 columns]

In [3]:
# filter results to only include the rows with the correct TEP category
df = df[df['TEP category'].isin(['P', 'S'])]
df

      TEP position Strand  Signal intensity Associated gene TEP category
382        4413371      +         83.232579     SAVERM_3562            P
383        3264820      +          1.125045     SAVERM_2660            P
384        3264783      +          0.582318     SAVERM_2660            S
385        5130214      +          1.694935      SAVERM_t29            S
386        5129823      +         21.165124      SAVERM_t29            P
...            ...    ...               ...             ...          ...
1851       7225344      -         -1.449581     SAVERM_5998            P
1852       3479395      -        -11.878397     SAVERM_2833            P
1853       1533879      -         -1.347853     SAVERM_1236            P
1854       5077487      -         -6.597947     SAVERM_4138            P
1855       4005295      -         -5.297495     SAVERM_3214            P

[1474 rows x 5 columns]

In [9]:
# chromosome, start, end, Associated gene , score, strand
df = df.assign(chromosome = ["BA000030.4" for _ in range(len(df))])
df

,TEP position,Strand,Signal intensity,Associated gene,TEP category,chromosome
382,4413371,+,83.232579,SAVERM_3562,P,BA000030.4
383,3264820,+,1.125045,SAVERM_2660,P,BA000030.4
384,3264783,+,0.582318,SAVERM_2660,S,BA000030.4
385,5130214,+,1.694935,SAVERM_t29,S,BA000030.4
386,5129823,+,21.165124,SAVERM_t29,P,BA000030.4
...,...,...,...,...,...,...
1851,7225344,-,-1.449581,SAVERM_5998,P,BA000030.4
1852,3479395,-,-11.878397,SAVERM_2833,P,BA000030.4
1853,1533879,-,-1.347853,SAVERM_1236,P,BA000030.4
1854,5077487,-,-6.597947,SAVERM_4138,P,BA000030.4
1855,4005295,-,-5.297495,SAVERM_3214,P,BA000030.4

In [14]:
df['TEP position']- 1

382     4413370
383     3264819
384     3264782
385     5130213
386     5129822
         ...
1851    7225343
1852    3479394
1853    1533878
1854    5077486
1855    4005294
Name: TEP position, Length: 1474, dtype: int64

In [15]:
# substract 1 from "TEP position" column and add it to a new column
df = df.assign(start=df['TEP position']- 1)
df

,TEP position,Strand,Signal intensity,Associated gene,TEP category,chromosome,start
382,4413371,+,83.232579,SAVERM_3562,P,BA000030.4,4413370
383,3264820,+,1.125045,SAVERM_2660,P,BA000030.4,3264819
384,3264783,+,0.582318,SAVERM_2660,S,BA000030.4,3264782
385,5130214,+,1.694935,SAVERM_t29,S,BA000030.4,5130213
386,5129823,+,21.165124,SAVERM_t29,P,BA000030.4,5129822
...,...,...,...,...,...,...,...
1851,7225344,-,-1.449581,SAVERM_5998,P,BA000030.4,7225343
1852,3479395,-,-11.878397,SAVERM_2833,P,BA000030.4,3479394
1853,1533879,-,-1.347853,SAVERM_1236,P,BA000030.4,1533878
1854,5077487,-,-6.597947,SAVERM_4138,P,BA000030.4,5077486
1855,4005295,-,-5.297495,SAVERM_3214,P,BA000030.4,4005294

In [17]:
# Rename a column
df['end'] = df['TEP position'].copy()
df

,TEP position,Strand,Signal intensity,Associated gene,TEP category,chromosome,start,end
382,4413371,+,83.232579,SAVERM_3562,P,BA000030.4,4413370,4413371
383,3264820,+,1.125045,SAVERM_2660,P,BA000030.4,3264819,3264820
384,3264783,+,0.582318,SAVERM_2660,S,BA000030.4,3264782,3264783
385,5130214,+,1.694935,SAVERM_t29,S,BA000030.4,5130213,5130214
386,5129823,+,21.165124,SAVERM_t29,P,BA000030.4,5129822,5129823
...,...,...,...,...,...,...,...,...
1851,7225344,-,-1.449581,SAVERM_5998,P,BA000030.4,7225343,7225344
1852,3479395,-,-11.878397,SAVERM_2833,P,BA000030.4,3479394,3479395
1853,1533879,-,-1.347853,SAVERM_1236,P,BA000030.4,1533878,1533879
1854,5077487,-,-6.597947,SAVERM_4138,P,BA000030.4,5077486,5077487
1855,4005295,-,-5.297495,SAVERM_3214,P,BA000030.4,4005294,4005295

In [18]:
df['name'] = df["Associated gene"].copy()
df

,TEP position,Strand,Signal intensity,Associated gene,TEP category,chromosome,start,end,name
382,4413371,+,83.232579,SAVERM_3562,P,BA000030.4,4413370,4413371,SAVERM_3562
383,3264820,+,1.125045,SAVERM_2660,P,BA000030.4,3264819,3264820,SAVERM_2660
384,3264783,+,0.582318,SAVERM_2660,S,BA000030.4,3264782,3264783,SAVERM_2660
385,5130214,+,1.694935,SAVERM_t29,S,BA000030.4,5130213,5130214,SAVERM_t29
386,5129823,+,21.165124,SAVERM_t29,P,BA000030.4,5129822,5129823,SAVERM_t29
...,...,...,...,...,...,...,...,...,...
1851,7225344,-,-1.449581,SAVERM_5998,P,BA000030.4,7225343,7225344,SAVERM_5998
1852,3479395,-,-11.878397,SAVERM_2833,P,BA000030.4,3479394,3479395,SAVERM_2833
1853,1533879,-,-1.347853,SAVERM_1236,P,BA000030.4,1533878,1533879,SAVERM_1236
1854,5077487,-,-6.597947,SAVERM_4138,P,BA000030.4,5077486,5077487,SAVERM_4138
1855,4005295,-,-5.297495,SAVERM_3214,P,BA000030.4,4005294,4005295,SAVERM_3214

In [19]:
df['score'] = [0 for _ in range(len(df))]
df

,TEP position,Strand,Signal intensity,Associated gene,TEP category,chromosome,start,end,name,score
382,4413371,+,83.232579,SAVERM_3562,P,BA000030.4,4413370,4413371,SAVERM_3562,0
383,3264820,+,1.125045,SAVERM_2660,P,BA000030.4,3264819,3264820,SAVERM_2660,0
384,3264783,+,0.582318,SAVERM_2660,S,BA000030.4,3264782,3264783,SAVERM_2660,0
385,5130214,+,1.694935,SAVERM_t29,S,BA000030.4,5130213,5130214,SAVERM_t29,0
386,5129823,+,21.165124,SAVERM_t29,P,BA000030.4,5129822,5129823,SAVERM_t29,0
...,...,...,...,...,...,...,...,...,...,...
1851,7225344,-,-1.449581,SAVERM_5998,P,BA000030.4,7225343,7225344,SAVERM_5998,0
1852,3479395,-,-11.878397,SAVERM_2833,P,BA000030.4,3479394,3479395,SAVERM_2833,0
1853,1533879,-,-1.347853,SAVERM_1236,P,BA000030.4,1533878,1533879,SAVERM_1236,0
1854,5077487,-,-6.597947,SAVERM_4138,P,BA000030.4,5077486,5077487,SAVERM_4138,0
1855,4005295,-,-5.297495,SAVERM_3214,P,BA000030.4,4005294,4005295,SAVERM_3214,0

In [20]:
df['strand'] = df["Strand"].copy()
df

,TEP position,Strand,Signal intensity,Associated gene,TEP category,chromosome,start,end,name,score,strand
382,4413371,+,83.232579,SAVERM_3562,P,BA000030.4,4413370,4413371,SAVERM_3562,0,+
383,3264820,+,1.125045,SAVERM_2660,P,BA000030.4,3264819,3264820,SAVERM_2660,0,+
384,3264783,+,0.582318,SAVERM_2660,S,BA000030.4,3264782,3264783,SAVERM_2660,0,+
385,5130214,+,1.694935,SAVERM_t29,S,BA000030.4,5130213,5130214,SAVERM_t29,0,+
386,5129823,+,21.165124,SAVERM_t29,P,BA000030.4,5129822,5129823,SAVERM_t29,0,+
...,...,...,...,...,...,...,...,...,...,...,...
1851,7225344,-,-1.449581,SAVERM_5998,P,BA000030.4,7225343,7225344,SAVERM_5998,0,-
1852,3479395,-,-11.878397,SAVERM_2833,P,BA000030.4,3479394,3479395,SAVERM_2833,0,-
1853,1533879,-,-1.347853,SAVERM_1236,P,BA000030.4,1533878,1533879,SAVERM_1236,0,-
1854,5077487,-,-6.597947,SAVERM_4138,P,BA000030.4,5077486,5077487,SAVERM_4138,0,-
1855,4005295,-,-5.297495,SAVERM_3214,P,BA000030.4,4005294,4005295,SAVERM_3214,0,-

In [22]:
df.drop(["TEP position", "Strand", "Signal intensity", "Associated gene", "TEP category"], axis=1, inplace=True)

In [23]:
df

      chromosome    start      end         name  score strand
382   BA000030.4  4413370  4413371  SAVERM_3562      0      +
383   BA000030.4  3264819  3264820  SAVERM_2660      0      +
384   BA000030.4  3264782  3264783  SAVERM_2660      0      +
385   BA000030.4  5130213  5130214   SAVERM_t29      0      +
386   BA000030.4  5129822  5129823   SAVERM_t29      0      +
...          ...      ...      ...          ...    ...    ...
1851  BA000030.4  7225343  7225344  SAVERM_5998      0      -
1852  BA000030.4  3479394  3479395  SAVERM_2833      0      -
1853  BA000030.4  1533878  1533879  SAVERM_1236      0      -
1854  BA000030.4  5077486  5077487  SAVERM_4138      0      -
1855  BA000030.4  4005294  4005295  SAVERM_3214      0      -

[1474 rows x 6 columns]

In [53]:
# convert df to bed file format  
# {FullNameOfTheBacteria}_{strainCode}_{GenomeAccessionNumber}.bed  
df.to_csv('StreptomycesAvermitilis_MA-4680_BA000030.4.bed', sep='\t', header=False, index=False)

In [2]:
import pandas as pd
terms = pd.read_csv("StreptomycesAvermitilis_MA-4680_BA000030.4.bed", sep='\t', header=None)
terms

               0        1        2            3  4  5
0     BA000030.4  4413370  4413371  SAVERM_3562  0  +
1     BA000030.4  3264819  3264820  SAVERM_2660  0  +
2     BA000030.4  3264782  3264783  SAVERM_2660  0  +
3     BA000030.4  5130213  5130214   SAVERM_t29  0  +
4     BA000030.4  5129822  5129823   SAVERM_t29  0  +
...          ...      ...      ...          ... .. ..
1469  BA000030.4  7225343  7225344  SAVERM_5998  0  -
1470  BA000030.4  3479394  3479395  SAVERM_2833  0  -
1471  BA000030.4  1533878  1533879  SAVERM_1236  0  -
1472  BA000030.4  5077486  5077487  SAVERM_4138  0  -
1473  BA000030.4  4005294  4005295  SAVERM_3214  0  -

[1474 rows x 6 columns]

In [5]:
df["Signal intensity"].reset_index(drop=True, inplace=True)

In [6]:
terms[4] = df["Signal intensity"].copy()

In [7]:
terms

               0        1        2            3           4  5
0     BA000030.4  4413370  4413371  SAVERM_3562    1.422417  +
1     BA000030.4  3264819  3264820  SAVERM_2660    0.673927  +
2     BA000030.4  3264782  3264783  SAVERM_2660   40.674364  +
3     BA000030.4  5130213  5130214   SAVERM_t29  169.232725  +
4     BA000030.4  5129822  5129823   SAVERM_t29    3.743878  +
...          ...      ...      ...          ...         ... ..
1469  BA000030.4  7225343  7225344  SAVERM_5998   -1.048172  -
1470  BA000030.4  3479394  3479395  SAVERM_2833   -1.541189  -
1471  BA000030.4  1533878  1533879  SAVERM_1236   -0.686354  -
1472  BA000030.4  5077486  5077487  SAVERM_4138  -20.478771  -
1473  BA000030.4  4005294  4005295  SAVERM_3214   -1.605635  -

[1474 rows x 6 columns]

In [8]:
terms.isna().sum()

0    0
1    0
2    0
3    0
4    0
5    0
dtype: int64

In [9]:
# list of numbers from 0 to 1474
terms[0] = terms[0] + "_" + str(list(range(1474))).strip('[]').split(', ')

In [10]:
terms

                    0        1        2            3           4  5
0        BA000030.4_0  4413370  4413371  SAVERM_3562    1.422417  +
1        BA000030.4_1  3264819  3264820  SAVERM_2660    0.673927  +
2        BA000030.4_2  3264782  3264783  SAVERM_2660   40.674364  +
3        BA000030.4_3  5130213  5130214   SAVERM_t29  169.232725  +
4        BA000030.4_4  5129822  5129823   SAVERM_t29    3.743878  +
...               ...      ...      ...          ...         ... ..
1469  BA000030.4_1469  7225343  7225344  SAVERM_5998   -1.048172  -
1470  BA000030.4_1470  3479394  3479395  SAVERM_2833   -1.541189  -
1471  BA000030.4_1471  1533878  1533879  SAVERM_1236   -0.686354  -
1472  BA000030.4_1472  5077486  5077487  SAVERM_4138  -20.478771  -
1473  BA000030.4_1473  4005294  4005295  SAVERM_3214   -1.605635  -

[1474 rows x 6 columns]

In [11]:
terms.to_csv('StreptomycesAvermitilis_MA-4680_BA000030.4.bed', sep='\t', header=False, index=False)