In [1]:
import pandas as pd

In [7]:
df = pd.read_excel("12864_2015_1583_MOESM4_ESM.xlsx", sheet_name="Feuil1", header=3, skipfooter=4)
df

,End position,Strand,Efficiency1,upstream gene,terminator 2,terminator sequence,Number of positive experiments
0,2866,+,t,gbs0002,2826..2875 h,TAAATAAGAAAACTACCCAAGTTATTCTTGGGTAGTTTTCTTATTC...,6
1,5716,+,p,gbs0006,5675..5739 h,AATCGATTTGTTAACTTTTAGGTTAAGGATATTGTTATTATCCTTA...,4
2,10001,+,t,gbs0008,9982..10024 h,GAGAGAATTAAGAGAGCTATTAGCTCTCTTTTTGTTACATTAT,3
3,16058,+,t,gbs0015,16006..16071 h,AACTTTATAAATTTCAAATACCCTTCAAATTTAGATAAAATTTGAA...,6
4,30358,+,p,gbs0016,30315..30363 h,TTAATGAATACTAAGGAGATCTTTCGTGGTCTCCTTTTTGTTTATTAAT,4
...,...,...,...,...,...,...,...
650,2202800,+,p,srn130,2202773..2202797 t,GTTGTCAATATTATTTATTGACAGCTTTCTCTTTTTATCA,6
651,2208087,-,t,tRNA Asn,c (2208091..2208124) t,TAAAATAGGATGAGAATACTCTCATCCTATTTTATTTTTTCCAAATTTA,6
652,2208168,-,p,tRNA Asn,-,NaN,6
653,2208643,-,p,gbs2132,-,NaN,3
654,2208649,+,p,tRNA Arg,2208621..2208641 t,GCCTAGATAGATTATCTAGGCTTTTTATTTGTTTTT,6

In [8]:
df["gene"] = [f"NC_004368.1_{i}" for i in range(len(df))]
df["start"] = df["End position"] - 1
df["end"] = df["End position"]
df.drop(columns=["Efficiency1", "End position", "terminator 2", "terminator sequence"], inplace=True)
df

,Strand,upstream gene,Number of positive experiments,gene,start,end
0,+,gbs0002,6,NC_004368.1_0,2865,2866
1,+,gbs0006,4,NC_004368.1_1,5715,5716
2,+,gbs0008,3,NC_004368.1_2,10000,10001
3,+,gbs0015,6,NC_004368.1_3,16057,16058
4,+,gbs0016,4,NC_004368.1_4,30357,30358
...,...,...,...,...,...,...
650,+,srn130,6,NC_004368.1_650,2202799,2202800
651,-,tRNA Asn,6,NC_004368.1_651,2208086,2208087
652,-,tRNA Asn,6,NC_004368.1_652,2208167,2208168
653,-,gbs2132,3,NC_004368.1_653,2208642,2208643
654,+,tRNA Arg,6,NC_004368.1_654,2208648,2208649

In [9]:
df = df[["gene", "start", "end", "upstream gene", "Number of positive experiments", "Strand"]]
df

,gene,start,end,upstream gene,Number of positive experiments,Strand
0,NC_004368.1_0,2865,2866,gbs0002,6,+
1,NC_004368.1_1,5715,5716,gbs0006,4,+
2,NC_004368.1_2,10000,10001,gbs0008,3,+
3,NC_004368.1_3,16057,16058,gbs0015,6,+
4,NC_004368.1_4,30357,30358,gbs0016,4,+
...,...,...,...,...,...,...
650,NC_004368.1_650,2202799,2202800,srn130,6,+
651,NC_004368.1_651,2208086,2208087,tRNA Asn,6,-
652,NC_004368.1_652,2208167,2208168,tRNA Asn,6,-
653,NC_004368.1_653,2208642,2208643,gbs2132,3,-
654,NC_004368.1_654,2208648,2208649,tRNA Arg,6,+

In [18]:
df.to_csv("StreptococcusAgalactiae_NEM316_NC004368.1.bed", sep='\t', header=False, index=False)