In [30]:
import pandas as pd

In [31]:
df = pd.read_csv("GSE138325_Scla_TEP.gff", header=None, sep="\t")
df

,0,1,2,3,4,5,6,7,8
0,CP027858,Scla_TEP,Scla_TEP_fwd,13489,13489,3.324022,+,.,13489 N N
1,CP027858,Scla_TEP,Scla_TEP_rev,93378,93378,-20.503420,-,.,93378 CRV15_00395 Pre
2,CP027858,Scla_TEP,Scla_TEP_fwd,164324,164324,12.537046,+,.,164324 N N
3,CP027858,Scla_TEP,Scla_TEP_fwd,170101,170101,22.302253,+,.,170101 N N
4,CP027858,Scla_TEP,Scla_TEP_fwd,204482,204482,4.826782,+,.,204482 N N
...,...,...,...,...,...,...,...,...,...
1422,CP027859,Scla_TEP,Scla_TEP_rev,1654110,1654110,-4.081420,-,.,1654110 CRV15_35125 P
1423,CP027859,Scla_TEP,Scla_TEP_fwd,1664896,1664896,6.678687,+,.,1664896 CRV15_35185 P
1424,CP027859,Scla_TEP,Scla_TEP_fwd,1697684,1697684,0.742076,+,.,1697684 CRV15_35300 P
1425,CP027859,Scla_TEP,Scla_TEP_rev,1701592,1701592,-1.607832,-,.,1701592 CRV15_35325 P
1426,CP027859,Scla_TEP,Scla_TEP_rev,1726491,1726491,-5.689252,-,.,1726491 CRV15_35465 P

In [32]:
df.drop([7, ], axis=1, inplace=True)

In [33]:
df.drop([2, 1], axis=1, inplace=True)

In [34]:
df.drop([3, ], axis=1, inplace=True)

In [35]:

df['kind'] = pd.DataFrame(df [8].str.split(" ").tolist())[2]

In [36]:
df.kind.value_counts()

P      928
S      223
Pre    117
N      106
A       53
Name: kind, dtype: int64

In [28]:
928+223

1151

In [37]:
df = df[(df["kind"] == "P") | (df["kind"] == "S")].copy()
df

             0        4         5  6                      8 kind
276   CP027858      324 -5.357071  -      324 CRV15_00010 P    P
277   CP027858    12796 -3.730632  -    12796 CRV15_00060 P    P
278   CP027858    13482 -1.573903  -    13482 CRV15_00065 P    P
279   CP027858    25027 -2.227872  -    25027 CRV15_00120 P    P
280   CP027858    38398 -3.518844  -    38398 CRV15_00180 S    S
...        ...      ...       ... ..                    ...  ...
1422  CP027859  1654110 -4.081420  -  1654110 CRV15_35125 P    P
1423  CP027859  1664896  6.678687  +  1664896 CRV15_35185 P    P
1424  CP027859  1697684  0.742076  +  1697684 CRV15_35300 P    P
1425  CP027859  1701592 -1.607832  -  1701592 CRV15_35325 P    P
1426  CP027859  1726491 -5.689252  -  1726491 CRV15_35465 P    P

[1151 rows x 6 columns]

In [38]:
chr = df[df[0] == "CP027858"]
plsmd = df[df[0] == "CP027859"]

print(chr.shape)
print(plsmd.shape)

(1034, 6)
(117, 6)

In [39]:
chr[0] = [f"CP027858.1_{i}" for i in range(len(chr))]
plsmd[0] = [f"CP027859.1_{i}" for i in range(len(plsmd))]

print(chr.head())
print(plsmd.head())

                0      4         5  6                    8 kind
276  CP027858.1_0    324 -5.357071  -    324 CRV15_00010 P    P
277  CP027858.1_1  12796 -3.730632  -  12796 CRV15_00060 P    P
278  CP027858.1_2  13482 -1.573903  -  13482 CRV15_00065 P    P
279  CP027858.1_3  25027 -2.227872  -  25027 CRV15_00120 P    P
280  CP027858.1_4  38398 -3.518844  -  38398 CRV15_00180 S    S
                 0       4          5  6                     8 kind
1310  CP027859.1_0   25123   5.812931  +   25123 CRV15_28260 P    P
1311  CP027859.1_1   64573  -1.360473  -   64573 CRV15_28415 P    P
1312  CP027859.1_2  111060   1.360473  +  111060 CRV15_28595 P    P
1313  CP027859.1_3  198306   1.978870  +  198306 CRV15_29005 P    P
1314  CP027859.1_4  202973  33.640792  +  202973 CRV15_29050 P    P

/tmp/ipykernel_35435/2943910465.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chr[0] = [f"CP027858.1_{i}" for i in range(len(chr))]
/tmp/ipykernel_35435/2943910465.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  plsmd[0] = [f"CP027859.1_{i}" for i in range(len(plsmd))]

In [41]:
chr.reset_index(drop=True, inplace=True)
plsmd.reset_index(drop=True, inplace=True)

In [43]:
df = chr.copy()

df["start"] = df[4] - 1
df["end"] = df[4]

chr = df.copy()

df = plsmd.copy()

df["start"] = df[4] - 1
df["end"] = df[4]

plsmd = df.copy()

print(chr.head())
print(plsmd.head())

              0      4         5  6                    8 kind  start    end
0  CP027858.1_0    324 -5.357071  -    324 CRV15_00010 P    P    323    324
1  CP027858.1_1  12796 -3.730632  -  12796 CRV15_00060 P    P  12795  12796
2  CP027858.1_2  13482 -1.573903  -  13482 CRV15_00065 P    P  13481  13482
3  CP027858.1_3  25027 -2.227872  -  25027 CRV15_00120 P    P  25026  25027
4  CP027858.1_4  38398 -3.518844  -  38398 CRV15_00180 S    S  38397  38398
              0       4          5  6                     8 kind   start  \
0  CP027859.1_0   25123   5.812931  +   25123 CRV15_28260 P    P   25122
1  CP027859.1_1   64573  -1.360473  -   64573 CRV15_28415 P    P   64572
2  CP027859.1_2  111060   1.360473  +  111060 CRV15_28595 P    P  111059
3  CP027859.1_3  198306   1.978870  +  198306 CRV15_29005 P    P  198305
4  CP027859.1_4  202973  33.640792  +  202973 CRV15_29050 P    P  202972

      end
0   25123
1   64573
2  111060
3  198306
4  202973

In [44]:
chr.drop([4, "kind"], axis=1, inplace=True)
plsmd.drop([4, "kind"], axis=1, inplace=True)

print(chr.isna().sum())
print(plsmd.isna().sum())

0        0
5        0
6        0
8        0
start    0
end      0
dtype: int64
0        0
5        0
6        0
8        0
start    0
end      0
dtype: int64

In [45]:
chr = chr[[0, "start", "end", 8, 5, 6]]
print(chr.head())

plsmd = plsmd[[0, "start", "end", 8, 5, 6]]
print(plsmd.head())

              0  start    end                    8         5  6
0  CP027858.1_0    323    324    324 CRV15_00010 P -5.357071  -
1  CP027858.1_1  12795  12796  12796 CRV15_00060 P -3.730632  -
2  CP027858.1_2  13481  13482  13482 CRV15_00065 P -1.573903  -
3  CP027858.1_3  25026  25027  25027 CRV15_00120 P -2.227872  -
4  CP027858.1_4  38397  38398  38398 CRV15_00180 S -3.518844  -
              0   start     end                     8          5  6
0  CP027859.1_0   25122   25123   25123 CRV15_28260 P   5.812931  +
1  CP027859.1_1   64572   64573   64573 CRV15_28415 P  -1.360473  -
2  CP027859.1_2  111059  111060  111060 CRV15_28595 P   1.360473  +
3  CP027859.1_3  198305  198306  198306 CRV15_29005 P   1.978870  +
4  CP027859.1_4  202972  202973  202973 CRV15_29050 P  33.640792  +

In [46]:
# convert df to bed file format
# {FullNameOfTheBacteria}_{strainCode}_{GenomeAccessionNumber}.bed    

chr.to_csv('StreptomycesClavuligerus_ATCC27064(chr)_CP027858.1.bed', sep='\t', index=False, header=False)
plsmd.to_csv('StreptomycesClavuligerus_ATCC27064(plsmd)_CP027859.1.bed', sep='\t', index=False, header=False)